# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/tokens/
/target/
/.idea/
/gradle/
/.apt_generated_tests/
/src/front/node_modules/
/src/front/package-lock.json
