body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-container {
    display: block;
    margin: 5rem;
}

.button-container {
    text-align: left;
    margin-bottom: 5rem;
    margin-left: 2rem;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 5rem;
}